/*-------------
    RESET
-------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------
    GENERAL
-------------*/
body {
    font-family: 'Cabin', sans-serif;
}

button {
    background-color: #ffffff;
    color: #000000;
    border: solid transparent;
    border-radius: 25px;
    padding: 10px 15px;
    }

.button-b {
    background: #23272a;
    color: white;
    margin-left: 20px;
}

.d-flex {
    display: flex;
}

.align {
    align-items: center;
}

/*-------------
    HEADER
-------------*/

header {
    background-color: #3161e0;
    min-height: 80px;
    align-items: center;
    font-size: 15px;
}

ul {
    list-style: none;
    text-decoration: none;
}

a{
    color: white;
    text-decoration: none;
    padding: 0px 12px;
   }

.container {
    margin: auto;
    width: 1072px;
    height: 50px;
}

.col-side {
    width: 25%;
}

.col-middle {
    width: 50%;
    text-align: center;
}

header div {
    line-height: 50px;
}

.left {
    padding-left: 10px;
    padding-top: 10px;
}

.right {
    padding-right: 10px;
    text-align: end;
}

/*-------------
SECTION HERO
-------------*/

.back-blue {
    height: 500px;
    background-color: #3161e0;
}

.hero {
    color: #ffffff;
    min-height: 400px;
    width: 760px;
    margin: auto;
}

h1 {text-align: center;
    font-size: 40px;
    margin-top: 30px;
}

h2 {
    font-size: 35px;
}

.hero-par {
    text-align: center;
    margin-top: 50px;
}

 .hero div {
    justify-content: center;
    margin-top: 20px;
 }

span {
    padding-right: 5px;
}

.b-image {
    background-image: url(./img/jumbo.png);
    background-size: 100% 100%;
}

/*-------------
SECTION BACK-WHITE
-------------*/

.background {
    height: 600px;
}

.back-white {
    background-color: #ffffff;
}

.row {
    max-width: 1072px;
    margin: auto;
}

.row div {
    height: 500px;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.back-gray {
    background-color: #d3d3d3;
}

.row-reverse {
    flex-direction: row-reverse;
}

.col-40 p {
    font-size: large;
}
.row .col-40 {
    padding: 40px;
}

.col-40 p {
    padding-top: 25px;
}

/*-------------
SECTION BACK-GRAY
-------------*/

.back-green {
    height: 1000px;
}

.green {
    margin: auto;
    max-width: 1072px;
    height: 900px;
} 
.green p {
    margin-top: 20px;
    text-align: center;
}

#img-4 {
    padding-left: 90px;
}

.green h3 {
    text-align: center;
}

#stars {
    padding-left: 260px;
}

h3 {
    font-size: 30px;
}

.green div {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

/*-------------
SECTION BACK-BLACK
-------------*/

.back-black {
    height: 630px;
    background-color: #23272a;
    border-bottom: 2px solid white;
}

.row-5 {
    margin: auto;
    width: 1072px;
}

.row-5 div {
    height: 575px;
}

.div-1 {
    width: 50%;
}

.div-2 {
    width: 20%;
}

/*-------------
    FOOTER
-------------*/

footer {
    justify-content: center;
    align-items: end;
    background-color: #23272a;
    height: 105px;
}

.end {
    justify-content: space-between;
    width: 1072px;
    height: 74px;
}

.last-b {
    background-color: #8ea1e1;
    color: white;
}

i {
    color: #ffffff;
}

.div-1 h3 {
    color: #7289da;
}

.div-1 span {
    color: #ffffff;
}

.div-1 *{
    margin-top: 15px;
}

.symbol *{
 padding-right: 15px;
}

.div-2 li {
    color: #ffffff;
    padding-top: 10px;
}

.div-2 * {
    margin-top: 10px;
}

h4 {
    padding-top: 16px;
    color: #7289da;
}

